%containerGutterBreakpoints {
    @media (max-width: 600px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } 
}

.container {
    @extend %containerGutterBreakpoints;
}

.login-container{
    height: 70vh;
}
#login-image{
    width: 60%;
    height: 60%;
    
}
.login-left h5{
    font-size: 25px;
}
.login-left p{
    font-size: 12px;
}
.login-right{
    overflow: hidden;
    z-index:100;
    height: 80vh;
}

.login-right::after{
    content: "";
    position:relative;
    background-image: linear-gradient(to right top, #0f1427, #1b2b4f, #23447c, #245fab, #157cde);
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(140deg);
  height: 100px;
  width: 300px;
    left:-20rem;
    z-index: -100;
    overflow: hidden;
    bottom: -90px;
    border-radius: 50px 10px 20px 50px;


}
.login-right::before{
    content: "";
    position:relative;
    background-image: linear-gradient(to right top, #0f1427, #1b2b4f, #23447c, #245fab, #157cde);
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(140deg);
  height: 100px;
  width: 300px;
    right:-20rem;
    z-index: -100;
    overflow: hidden;
    top: -90px;
    border-radius: 50px 50px 50px 30px;


}


.category-container{
    height:80vh;
}
.ticket-container{
    height: 80%;

}

.ticlet-right-container{
    box-shadow: -6px -1px 5px 0px rgba(235,221,221,0.75);
    -webkit-box-shadow: -6px -1px 5px 0px rgba(235,221,221,0.75);
    -moz-box-shadow: -6px -1px 5px 0px rgba(235,221,221,0.75);
    overflow: hidden;
    h2{
        font-family: 'Righteous', cursive;
    }
}


.settings-left{
    border-right: 1px solid gray;
}

.add-users{
    background: rgb(0, 0, 255);
    color: rgb(255, 255, 255);
    padding: 2px 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 120px;
}
.add-users:hover{
    color:#fff;
}

#comments label{
    border-bottom: 1px solid rgb(0, 0, 255);
    margin-bottom: 8px;
}

.message-reply{
    line-height: 2px;
}

@include breakpoint('md'){
    .category-container{
        height: 80vh;
    }
    .category-text{
        font-size: 20px;
    }
    .message-reply{
        line-height: 20px;
    }
}

@include breakpoint('sm'){
    .category-container{
        height: 125 vh;
    }



    .ticket-container{
        height: 80%;
    width: 100%;
    margin-left: 7px !important;

    }
    .login-left{
        display: none;
    }
    .login-right form{
        padding: 3px !important;
    }

}