//widths
$width-values: (
    "none": 0,
    "xsm":35%,
    "sm": 50%,
    "md": 60%,
    "lg": 80%,
    "xl": 100%,
);

@each $size, $value in $width-values {
    .width-#{$size} {
        width: $value;
    }
}

$height-values: (
    "none": 0,
    "sm": 50px,
    "md": 100px,
    "lg": 150px,
    "xl": 200px,
    "xxl":250px,
    "full":100%
);


@each $size, $value in $height-values {
    .height-#{$size} {
        height: $value;
    }
}

