.logo{
    width: 80px;
    height: 60px;
}

.icons{
    font-size: 12px;
    position: relative;
    top:0;

}

.user-icon{
    width: 30px;
    height: 30px;
}
.user-icon.md{
    width: 35px;
    height: 35px;
    margin-top:5px
}

.ticket-icon{
    height: 320px;
    width: 430px;
    background: #0f1427;
    transform: rotate(40deg);
    position: relative;
    top: -170px;
}





.arrow-icon{
    position: relative;
    top:-188px;
    cursor: pointer;
}
#login-icon{
    width: 90%;
    height: 100%;
   
}

.login-icon{
    height: 50px;
    width: 50px;

}

.avatar-icon{
    width: 150px;
    height: 150px;
}

#plus{
    color: var(--color-secondary-contrast);
    cursor: pointer;
    font-size: 30px;
    position: relative;
    left: -35px;
    bottom: -40px;
}
  
#ticketing-vector{
    width: 35rem;
    height: 90%;
}

.circle-icons{
    z-index: 1;
    position: relative;
}
// .circle-icon:nth-child(1){
//     height: 150px;
//     width: 500px;
//     background-image: linear-gradient(to bottom, #147bde, #0096eb, #00b0f4, #3bc8f9, #6cdffd);
//     position: relative;
//     top: -20px;
//     right: -30rem;
//     border-radius: 50%;
//     z-index:200;
// }

// .circle-icon:nth-child(2){
//     background-image: linear-gradient(to bottom, #147bde, #0096eb, #00b0f4, #3bc8f9, #6cdffd);
//     position: relative;
//     top: -50px;
//     right: -13rem;
//     border-radius: 50%;
// }


// .circle-icon:nth-child(2){
//     top: 130px;
//     left:50px;
// }
// .circle-icon:nth-child(3){
//     top:17rem;
//     left:0;
// }
// .circle-icon:nth-child(4){
//     top:24rem;
//     left: -10rem;
// }
// .circle-icon:nth-child(5){
//     top: 30rem;
//     left: -20rem;
// }

.product-image{
    height: 100px;
    width: 100%;
}

.login-avatar{
    height: 80%;
    width: 100%;
}
@include breakpoint('md'){
    .product-image{
        height: 80px;
        width: 100%;
    }
}