// .table{
//     margin-left:15rem;
//     width: 81%;
// }

// .details{
//     padding-top: 12px !important;
// }


.table{
    border-collapse: collapse;
background: var(--color-primary-contrast);
   }
  
  .table thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0; 
   }

   .table thead{
    border-bottom: 1px solid black !important;
   }
  
  .table thead td{
    font-weight: 700;
   }
  
   .table td{
    padding: 15px;
    font-size: .9rem;
    color: #222;
   }

