.ticket-number{
    border-radius: 10px 10px 0 0;
}

.ticket-box{
    border-top: 1px solid rgb(184, 177, 177);
    margin-top:7px;
}

.ticket-box-left{
    border-right: 1px solid rgb(184, 177, 177);
}