
// .dashboard-header{
//   display: flex;
//   justify-content: space-between;
//  padding: 5px;
//   box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
//   position: fixed;
//   left:200px;
//   width: calc(100% - 200px);
//   top:0;
//   z-index: 100;
//   background: #fff;
// }
// #font-icon{
//   cursor: pointer;
// }

// .dashboard-header h2{
//   color:#222;

// }

// .dashboard-header label span{
//   font-size:1.7rem;
//   padding-right: 1rem;
// }
// .search-wrapper{
//   border:1px solid #f0f0f0;
//   border-radius:30px;
//   height:50px;
//   display: flex;
//   align-items: center;
//   overflow-x: hidden;
// }

// .search-wrapper span{
//   display: inline-block;
//   padding: 0rem 1rem;
//   font-size:1.5rem;
// }

// .search-wrapper input{
//   height: 100%;
//   padding:.5rem;
//   border:none;
//   outline:none;
//   }

//   .user-wrapper{
//     display: flex;
//     align-items: center;
//   }

//   .user-wrapper img,
//   .avatar{
//     height: 50px;
//     width: 50px;
//     margin-right: 1rem;
//   }


//   .user-wrapper small{
//     display: inline-block;
//     color:var(--text-grey);
//     margin-top:-10px !important;
//   }

//   @media only screen and (max-width: 768px){
//       .search-wrapper{
//         display: none;
//       }
//       .sidebar{
//         left: -100% !important;
//       }
    
//       .main-content{
//         width: 100%;
//         margin-left:0rem;
//       }
//       .dashboard-header{
//         width: 100% !important;
//         left:0 !important;
//       }
    
//       .dashboard-header h2{
//         font-size: 1.1rem;
//       }
//       .dashboard-header h2 span{
//         text-align: center;
//         padding-right: 0rem;
//       }
//   }      
.header{
  width: 100%;
  top:0;
  position: fixed;
  z-index: 1000;
    li{
        list-style: none;
     
    }
    a{
     
        text-decoration: none;
    }

}

.navbar{
    min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-branding{
    height: 30px;
  }
  .nav-menu{
    h3{
      font-size: 20px !important;
    }
  }

    }

    .icons{
      li i{
        cursor: pointer;
        &:hover{
          background:var(--color-light-shade);
        }
      }
    }

    .links{
      a{
        font-size: 13px;
      }
    }
 
    @include breakpoint('md'){
      .icons{
          margin-top:5px;
      }
  }


