
.header{
  width: 100%;
  top:0;
  position: fixed;
  z-index: 1;
    li{
        list-style: none;
     
    }
    a{
     
        text-decoration: none;
    }

}

.navbar{
    min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-branding{
    height: 30px;
  }
  .nav-menu{
    h3{
      font-size: 20px !important;
    }
  }

    }

    .icons{
      li i{
        cursor: pointer;
        &:hover{
          background:var(--color-light-shade);
        }
      }
    }

    .links{
      a{
        font-size: 13px;
      }
    }
 
    @include breakpoint('md'){
      .icons{
          margin-top:5px;
      }
  }


