.hero-section{
    height: 85vh;
}
.hero-banner{
    padding-top: 12rem !important;
}

.banner-image{
    height: 90%;
    width: 100%;
}
@include breakpoint('md'){
    .hero-banner{
        padding-top: 100px !important;
        margin:0 !important;
    }
    .hero-section{
        height: 85vh;
    }
}
@include breakpoint('sm'){
    .hero-section{
        height: 105vh;
    }
    .footer p{
        font-size: 10px;
    }
}
