.hero-section,
.login-section{
    height: 85vh;
}
.hero-banner{
    padding-top: 6rem !important;
}
.hero-section{
    h5{
        font-size: 30px;
    }
    h2{
        font-size: 55px;
        font-weight: bold;
    }
    p{
        font-size: 18px;
    
    }
}

.banner-image{
    height: 90%;
    width: 100%;
}
@include breakpoint('md'){
    .hero-banner{
        padding-top: 100px !important;
        margin:0 !important;
    }
    .hero-section{
        height: 85vh;
    }
}
@include breakpoint('sm'){
    .hero-section{
        height: 130vh;
    }
    .footer p{
        font-size: 10px;
    }
    .login-section{
        height: 85vh;
    }
}
